<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>counter</title>
</head>
<body>
    <h1> COUNTER</h1>
    <h2>counter: <%= counter %></h2>
    <form action="/add">
    <input type="submit" value="add">
    </form>
    
    <form action="/reset">
    <input type="submit" value="reset">
    </form>

</body>
</html>